.content-container{
  margin: 0 auto;
  padding: 0 $m-size;
}

.content-container--subHeader {
  @extend .content-container;
  margin-bottom: $m-size;
}

.content-container--buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $l-size;
}
