.header{
  background: $dark-blue;
}

.header__title{
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
}

.header__content--items{
  justify-content: flex-end
}

.header__item{
  justify-content: space-between;
  font-size: $font-size-small;
  padding: 3.75px;
  color: $white;
  &:hover{
    color: $yellow;
    font-weight: bold;
  }
}

.header__item--brand{
  color: $white;
  font-weight: bold;
  font-size: $font-size-Xlarge;
  &:hover{
    color: $yellow;
  }
}

.header__item--container{
  margin: 15px 10px 10px 10px;
}

.header__item--button{
  background: none;
  font-size: $font-size-small;
  color: $white;
  border: none;
  top: 0%;
  &:hover{
    color: $yellow;
    font-weight: bold;
    text-decoration: underline;
  }
}

.header__dropdown--area {
  padding: $s-size/2;
}

.header__dropdown--item {
  font-size: $font-size-small;
  color: black;
  &:hover{
    font-weight: bold;
  }
}
//override dropdown button settings
#dropdown-basic{
  @extend .header__item--button;
  padding: $s-size/2;
  border: none !important;
}
