.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
  margin: 10px;
}

.dropdown {
  font-size: $font-size-large;
  height: 50px;
  font-weight: 300;
  margin: 10px;
  min-width: 200px;
}

.dropdown--header {
  min-width: 0;
  >button {
    font-size: $font-size-small;
    color: white;
    &:hover{
      color: $yellow;
      font-weight: bold;
    }
  }
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

.textarea--multiple {
  @extend .text-input;
  height: 50px;
  font-size: $font-size-small;

}
